@use '@/shared/styles/tokens/colors' as colors;
@use '@/shared/styles/tokens/sizes' as size;
@use '@/shared/styles/tokens/fonts' as font;

// add tokens for new games section slides
$card-height-large: 384px;
$card-height-middle: 280px;
$card-height-small: 200px;
$slide-space: size.$size-05;
$slide-space-small: 3px;
$shadow-room: size.$size-05;
$slide-transition: 1s;
$slide-small-large: 120;
$slide-medium-large: 288;
$slide-large-large: 816;
$slide-medium-middle: 104;
$slide-large-middle: 448;
$slide-medium-small: 56;
$slide-large-small: 218;

.newGames {
  padding: size.$size-5 size.$size-15;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: size.$size-5;
}

.controls {
  display: flex;
  gap: size.$size-2;
}

.track {
  display: flex;
  height: $card-height-large + $shadow-room;
  padding-inline: $slide-space;
  padding-bottom: $shadow-room;
  list-style: none;
  cursor: grab;
  user-select: none;
}

.track:active {
  cursor: grabbing;
}

.slide {
  flex-basis: 0;
  flex-grow: 0;
  min-width: 0;
  padding-inline: $slide-space;
  transition:
    flex-grow $slide-transition,
    padding-inline $slide-transition;
}

.slideSmall {
  flex-grow: $slide-small-large;
}

.slideMedium {
  flex-grow: $slide-medium-large;
}

.slideLarge {
  flex-grow: $slide-large-large;
}

.slideHidden {
  padding-inline: 0;
}

.slideHidden > * {
  display: none;
}

.message {
  color: colors.$on-bg;
  font-size: font.$body-large;
  font-weight: font.$medium;
  line-height: normal;
}

@media (max-width: size.$breakpoint-middle) {
  .newGames {
    padding: size.$size-3 size.$size-5;
  }

  .header {
    margin-bottom: size.$size-3;
  }

  .track {
    height: $card-height-middle + $shadow-room;
  }

  .slideSmall {
    flex-grow: 0;
    padding-inline: 0;
  }

  .slideSmall > * {
    display: none;
  }

  .slideMedium {
    flex-grow: $slide-medium-middle;
  }

  .slideLarge {
    flex-grow: $slide-large-middle;
  }

  .message {
    font-size: font.$body-medium;
  }
}

@media (max-width: size.$breakpoint-small) {
  .newGames {
    padding: size.$size-2;
  }

  .header {
    margin-bottom: size.$size-2;
  }

  .controls {
    display: none;
  }

  .track {
    height: $card-height-small + $shadow-room;
    padding-inline: $slide-space-small;
  }

  .slide {
    padding-inline: $slide-space-small;
  }

  .slideHidden,
  .slideSmall {
    padding-inline: 0;
  }

  .slideMedium {
    flex-grow: $slide-medium-small;
  }

  .slideLarge {
    flex-grow: $slide-large-small;
  }
}
