@use '../../styles/tokens/colors' as colors;
@use '../../styles/tokens/sizes' as size;
@use '../../styles/tokens/fonts' as font;

// add tokens for input
$control-height: 48px;
$icon-size: 20px;

.input {
  display: flex;
  flex-direction: column;
  gap: size.$size-1;
}

.label {
  color: colors.$on-primary;
  font-size: font.$body-small;
  font-weight: font.$bold;
}

.control {
  display: flex;
  gap: size.$size-2;
  align-items: center;
  height: $control-height;
  padding-inline: size.$size-2;
  background-color: colors.$white;
  border: size.$border;
  border-radius: size.$corner-small;
}

.control:focus-within {
  background-color: colors.$surface-low;
}

.icon {
  flex-shrink: 0;
  color: colors.$on-primary;
  font-size: $icon-size;
}

.field {
  width: 100%;
  min-width: 0;
  color: colors.$on-primary;
  font-family: inherit;
  font-size: font.$body-small;
  font-weight: font.$medium;
  background-color: transparent;
  border: none;
  outline: none;
}

.field::placeholder {
  color: colors.$on-bg-low;
  font-weight: font.$regular;
}

.eyeButton {
  display: flex;
  flex-shrink: 0;
  padding: 0;
  color: colors.$on-primary;
  font-size: $icon-size;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.error:empty {
  display: none;
}

.error {
  color: colors.$error;
  font-size: font.$label-medium;
  font-weight: font.$medium;
}

.invalid .control {
  border-color: colors.$error;
}

.invalid .icon,
.invalid .eyeButton {
  color: colors.$error;
}
