@use '../../shared/styles/tokens/sizes' as size;

.header {
  position: relative;
  padding: size.$header-paddings;
  border-bottom: size.$border;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.actionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: size.$size-4;
}

@media (max-width: size.$breakpoint-menu) {
  .actionsContainer {
    gap: size.$size-2;
  }
}

@media (max-width: size.$breakpoint-middle) {
  .header {
    padding: size.$header-paddings-middle;
  }
}

@media (max-width: size.$breakpoint-small) {
  .header {
    padding: size.$header-paddings-small;
  }
}
