$font-family-inter: 'Inter', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$size-display-large: 3.5rem; // 56px
$size-display-medium: 2.25rem; // 36px
$size-display-small: 1.5rem; // 24px
$size-headline-large: 2rem; // 32px
$size-headline-medium: 1.5rem; // 24px
$size-headline-small: 1.25rem; // 20px
$size-body-large: 1.125rem; // 18px
$size-body-medium: 1rem; // 16px
$size-body-small: 0.875rem; // 14px
$size-label-extra-large: 1rem; // 16px
$size-label-large: 0.875rem; // 14px
$size-label-medium: 0.75rem; // 12px
$size-label-small: 0.625rem; // 10px

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-extra-bold: 800;
